.App {
  text-align: center;
  position: relative;
}

.App-header {
  background-color: #4e3629;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: rgb(255, 254, 254);
  position: relative;
  z-index: 2;
  padding-bottom: 0%;
}

.MenuBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e3629;
  position: relative;
  z-index: 1;
  top: -20px;
  padding: 40px;
}

.Navigation-Button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: larger;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  cursor: pointer;
}

.Content {
  align-items: center;
}

.aboutSection {
  color: #4e3629;
  margin: 0 20%;
}

.healthyWorkoutSection {
  color: #4e3629;
  margin-top: 5%;
  font-size: x-small;
  margin-left: 25%;
}

.aboutText {
  color: #4e3629;
}

.homeContent h1,
.homeContent p {
  color: #4e3629;
  font-weight: bold;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.noBulletPoints {
  list-style: none;
  padding-left: 0;
}

.noBulletPoints li {
  margin-bottom: 8px;
  font-size: 2em;
  color: #4e3629;
}

.progress-page {
  text-align: center;
  position: relative;
  padding-top: 8vh;
}

.progress-header {
  background-color: #4e3629;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1px + 2vmin);
  color: rgb(255, 254, 254);
  position: relative;
  z-index: 2;
  padding-bottom: 0%;
}

.progress-content {
  align-items: center;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.additional-info {
  margin-top: 20px;
  color: #4e3629;
}

.additional-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.additional-info p {
  font-size: 16px;
  line-height: 1.5;
}

.resources {
  margin-top: 30px;
}

.resources ul {
  list-style: none;
  padding-left: 0;
}

.resources li {
  margin-bottom: 8px;
  font-size: 18px;
}

.resources a {
  color: #4e3629;
  text-decoration: underline;
}

.playlist {
  margin-top: 0px;
  margin-bottom: 5px;
}

.playlist h2 {
  margin-bottom: 0px;
}

.playlist h3 {
  margin-top: -5px;
  margin-bottom: 30px;
}
