


.account-info-input {
    width: 15%;
}

.progress-page {
  display: flex;
  /* justify-content: center; 
  align-items: center; 
  height: 100vh;  */
}

.account-info-display {
  justify-content: center;
  margin-left: 43%;
}

.edit-modal {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */

  position: absolute;
  top: 50%; /* Adjust vertical position */
  left: 50%; /* Adjust horizontal position */
  transform: translate(-50%, -50%); /* Center the modal */
  padding: 40px; /* Increase padding for larger modal */
  z-index: 1000;
  width: 30%; /* Adjust the width of the modal */
  max-width: 1200px; /* Set maximum width for responsiveness */
  height: auto; /* Allow the modal to adjust its height */
  overflow: auto;
  background-color: white;
  border-radius: 10px; /* Add some border radius for style */
  overflow-y: auto;

}

.close-button {
  color: #453131;
  font-size: 24px;
  margin-bottom: auto;
  position: absolute;
  top: 5px;
  cursor: pointer;
  right: 10px;
}

.navigation-Button {
  
  margin-top: 50px;
  margin-left: 10px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  font-size: 10px;
  background-color: #453131;
  color: rgb(237, 237, 237);
}

.button-sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.content {
 padding: 20px;
 justify-content: center;
 align-items: center;
 margin-left: 7%;
 margin-right: 7%;
}

.exercise-pair {
  display: flex;
  align-items: center;
}

.exercise {
    flex: 1;
    padding: 1px;
    border: none;

} 

.exercise:hover {
  cursor: pointer;

}
.delete-button {
    border: none;

}

.delete-button:hover {
  cursor: pointer;
  background-color: lightcoral;
}

.rating-dropdown {
  /* margin-left: 20px; */
  /* padding: 0px;
    border: none; */

}

.selector {
  /* padding: 5px;
  margin-left: 5px; */
}


.add-exercise-modal {
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */

  position: absolute;
  top: 15%; /* Adjust vertical position */
  left: 50%; /* Adjust horizontal position */
  transform: translate(-50%, -50%); /* Center the modal */
  padding: 40px; /* Increase padding for larger modal */
  z-index: 1000;
  width: 30%; /* Adjust the width of the modal */
  /* height: 100%; */
  max-width: 1200px; /* Set maximum width for responsiveness */
  /* height: auto; Allow the modal to adjust its height */
  overflow: auto;
  background-color: white;
  border-radius: 10px; /* Add some border radius for style */
  overflow-y: auto;
}

.exercise-info-modal {
   display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */

  position: absolute;
  top: 15%; /* Adjust vertical position */
  left: 50%; /* Adjust horizontal position */
  transform: translate(-50%, -50%); /* Center the modal */
  padding: 40px; /* Increase padding for larger modal */
  z-index: 1000;
  width: 60%; /* Adjust the width of the modal */
  max-width: 1200px; /* Set maximum width for responsiveness */
  height: auto; /* Allow the modal to adjust its height */
  overflow: auto;
  background-color: white;
  border-radius: 10px; /* Add some border radius for style */
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.result-table {
  width: 100%;
}

.exercise-info {
   /* left: 5px;
   border: dotted; */
    flex: 1;
  text-align: center; 
}

.exercise-info:hover {
  background-color: pink;
}

.calendar-popup {
 width: 100px;
    height: 10px;}

.exercise-info-edit {
  width: 25%;
  padding: 0;
  }
