.dayWorkoutHeader {
  color: #4e3629;
  font-size: large;
  margin: left 0;
}

.informationHeader {
  color: #4e3629;
  font-size: xx-small;
  margin-left: 20%;
  margin-right: 20%;
}

.dropdownLabel {
  color: #4e3629;
  font-size: x-large;
  margin-right: 0%;
  margin-top: 0%;
}

.generateButton {
  margin-top: 50px;
  margin-left: 600px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 40px;
  font-size: larger;
  background-color: #4e3629;
  color: rgb(237, 237, 237);
  border-color: aliceblue;
}

.hover-area {
  /* Your styles for the hoverable area */
  /* For example: */
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.hover-area:hover {
  background-color: lightblue; /* Change background color on hover */
}

.exercise-popup {
  display: none;
}

.workout-modal {
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow effect */

  position: absolute;
  top: 50%; /* Adjust vertical position */
  left: 50%; /* Adjust horizontal position */
  transform: translate(-50%, -50%); /* Center the modal */
  padding: 40px; /* Increase padding for larger modal */
  z-index: 1000;
  width: 80%; /* Adjust the width of the modal */
  max-width: 1200px; /* Set maximum width for responsiveness */
  height: auto; /* Allow the modal to adjust its height */
  overflow: auto;
  background-color: white;
  border-radius: 10px; /* Add some border radius for style */
  overflow-y: auto;
}
